<div
      class="container d-flex justify-content-center align-items-center bg-secondary vh-100"
    >
      <div class="col-4">
        <div class="card bg-dark bg-gradient text-white">
          <div class="card-header bg-dark text-center">
            <strong>Agregar nuevo producto</strong>
          </div>
          <div class="card-body">
            <form action="/productos" method="post">
              <div class="mb-3">
                <label for="album-artist" class="form-label">Artista</label>
                <input
                  type="text"
                  class="form-control"
                  id="album-artist"
                  name="album-artist"
                />
              </div>
              <div class="mb-3">
                <label for="album-name" class="form-label">Álbum</label>
                <input
                  type="text"
                  class="form-control"
                  id="album-name"
                  name="album-name"
                />
              </div>
              <div class="mb-3">
                <label for="album-price" class="form-label">Precio</label>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input
                    type="number"
                    class="form-control"
                    id="album-price"
                    name="album-price"
                    min="0"
                    step="0.01"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="album-img" class="form-label">URL Imagen</label>
                <input
                  type="text"
                  class="form-control"
                  id="album-img"
                  name="album-img"
                />
              </div>
              <div class="mb-3">
                <label for="album-release-year" class="form-label"
                  >Año de lanzamiento</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="album-release-year"
                  name="album-release-year"
                  min="0"
                />
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-dark border border-light" type="submit">
                  <strong>Submit</strong>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>