.container.d-flex.justify-content-center.align-items-center.bg-secondary.vh-100
  .col-6
    .card.bg-dark.bg-gradient.text-white
      .card-header.bg-dark.text-center
        strong Lista de productos
      .card-body
        if albums.length > 0
          table.table.table-bordered.text-white
            thead
              tr.text-center
                th Nombre
                th Precio
                th Foto
            tbody
              each album in albums
                  tr.text-center
                  td= album.name 
                  td= album.price
                  td.w-25.h-25
                      img.img-thumbnail(src=album.img alt=album.name)
        else
          p.text-white No hay productos
