<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>e-commerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/darkly/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

    {{> navigation/navbar }}
    <div class="container mt-5">
        {{{body}}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        const $newEmailForm = document.getElementById("new-email-form");
        const $newEmailInput = document.getElementById("email-input");
        const $email = document.getElementById("user-email-display");

        if($newEmailForm){

            $newEmailForm.addEventListener("submit", (e) => {
                e.preventDefault();
                if($newEmailInput.value){
                    $email.textContent = $newEmailInput.value;
                    $newEmailInput.value = '';
                    $newEmailInput.setAttribute("disabled", "true");
                }
            });

            const $chatMessage = document.getElementById("chat-messages");
            const $newMessageForm = document.getElementById("new-message-form"); 
            const $newMessageInput = document.getElementById("new-message-input");
            $newMessageForm.addEventListener('submit', function(e) {
                    e.preventDefault();
                    if ($newMessageInput.value) {
                    const chatMessage = {
                        email: $email.textContent,
                        text: $newMessageInput.value
                    }
                    socket.emit('chat message', chatMessage);
                    $newMessageInput.value = '';
                }
            });

            socket.on('chat message', function(chatMessage) {
                const {email, message, date} = chatMessage;
                const $newMessage = document.createElement('li');
                $newMessage.classList.add('list-group-item');

                $newMessageEmail = document.createElement('span');
                $newMessageEmail.classList.add('text-info', 'fw-bold');
                $newMessageEmail.textContent = `${email} `;
                $newMessage.appendChild($newMessageEmail);

                $newMessageDate = document.createElement('span');
                $newMessageDate.classList.add('text-muted');
                $newMessageDate.textContent = `[${date}]: `;
                $newMessage.appendChild($newMessageDate);

                $newMessageText = document.createElement('span');
                $newMessageText.classList.add('text-success', 'fst-italic');
                $newMessageText.textContent = message;
                $newMessage.appendChild($newMessageText);

                $chatMessage.appendChild($newMessage);

                window.scrollTo(0, document.body.scrollHeight);
            });
        }

        const $newAlbumForm = document.getElementById('new-album-form');
        if($newAlbumForm){
            $newAlbumForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const form = new FormData(e.target);
            const newAlbum = {
                album: form.get("album-name"),
                price: Number(form.get("album-price")),
                img: form.get("album-img"),
                artist: form.get("album-artist"),
                release_year: form.get("album-release-year")
            }
            socket.emit('new album', newAlbum);
            $newAlbumForm.reset();
            });

            socket.on('new album', (album) => {
                console.log(album, 'front');
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>